<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MetaMask Connection</title>
  <link rel="stylesheet" href="https://oidc.coinsgpt.io/css/bootstrap.min.css">
</head>

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://oidc.coinsgpt.io/images/metamask.svg" alt="" width="100" height="100">
  <h1 class="display-5 fw-bold text-body-emphasis">MetaMask Connection</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Possession of the private key or secret recovery phrase grants full control over the wallet,
      making it critical to protect these credentials as they determine who can access, sign, and log in to applications
      using the wallet.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" id="metamaskConnect" class="btn btn-primary btn-lg px-4 gap-3">Connect</button>
      <a href="/interaction/<%= uid %>/abort" class="btn btn-outline-secondary btn-lg px-4" role="button">Abort</a>
    </div>
  </div>
</div>

<form id="loginForm" autocomplete="off" action="/interaction/<%= uid %>/login" method="post" class="d-none">
  <input required type="text" name="sign" placeholder="sign">
  <input required type="text" name="url" placeholder="url">
  <input required type="text" name="localeDate" placeholder="locale">

  <!-- Placeholder for accounts -->
  <div id="accountsContainer"></div>

  <button type="submit" class="login login-submit d-none">Sign-in</button>
</form>

<!-- Debuging info -->

<data id="unique-identifier" value="<%= uid %>"></data>

<div class="grant-debug">
  <details>
    <summary style="text-align: center;">(Click to expand) DEBUG information</summary>
    <div>
      <strong>uid</strong>: <%= uid %>
    </div>

    <% if (session) { %>
      <div>
        SESSION <br>
        ========= <br>
        <%- session %>
      </div>
      <% } %>

        <div>
          PARAMS <br>
          ======== <br>
          <%- dbg.params %>
        </div>

        <div>
          PROMPT <br>
          ======== <br>
          <%- dbg.prompt %>
        </div>
        <div>
          Login Info<br>
          ======== <br>
          deepLink: <a id="deepLink"></a> <br>
          Status: <span id="statusDisplay"></span>
        </div>
  </details>
</div>
<!-- 
<script src="https://cdn.jsdelivr.net/npm/@metamask/sdk@0.30.2/dist/browser/iife/metamask-sdk.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@metamask/sdk@0.28.4/dist/browser/iife/metamask-sdk.js"></script>
<script src="https://c0f4f41c-2f55-4863-921b-sdk-docs.github.io/cdn/metamask-sdk.js"></script>
-->

<script src="https://cdn.jsdelivr.net/npm/@metamask/sdk@0.30.2/dist/browser/iife/metamask-sdk.js"></script>
<script src="https://oidc.coinsgpt.io/js/metamask.js"></script>